.header-profile {
  font-size: x-large;
  font-weight: bold;
}

.sidebar-profile {
  display: flex;
  flex-direction: row;
}

.wrapper-profile {
  display: flex;
  flex-direction: column;
  width: auto;
}

.wrapper-side-profile {
  display: flex;
  flex-direction: column;
}
