.navbar {
  background-color: #bfe6ff;
  display: flex;
  justify-content: space-evenly !important;
  padding: 1px;
  font-size: larger;
  border-bottom: 2px solid whitesmoke;

}

.logo {
  width: 50px;
  height: 50px;
}

.filter-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
    display: inline-block;
    width: 40px;
}