.not-found {
  font-size: x-large;
}

.search-options {
  border-style: solid;
  border-radius: 1px;
}
.sortBy {
  padding: 30px;
}

.filterBy {
  padding: 30px;
}

.sortBy-input {
  padding: 10px;
}

.filterBy-input {
  padding: 10px;
}
